/* For small screens */
@media screen and (max-width: 768px) {
    .products {
        grid-template-columns: 1fr;
    }

    .product {
        width: 80%;
        margin: 20px auto;
    }

    .product img {
        width: 100%;
    }
}

/* For medium-sized screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

/* For large screens */
@media screen and (min-width: 1025px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Common styles for all screen sizes */
.shopTitle {
    margin-top: 50px; /* Adjusted for smaller screens */
    text-align: center;
    font-size: 30px; /* Adjusted for smaller screens */
}

.product {
    margin: 20px;
    width: 90%; /* Adjusted for smaller screens */
    height: auto; /* Adjusted for smaller screens */
}

.product img {
    width: 100%; /* Ensures images are responsive */
}

.addToCartBtn {
    min-width: 80px; /* Adjusted for smaller screens */
    padding: 8px 16px; /* Adjusted for smaller screens */
}

.product .description {
    text-align: center;
}

.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartBtn {
    background-color: transparent;
    border: 2px solid #244c5c;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.addToCartBtn:hover {
    background-color: #244c5c;
    color: white;
    cursor: pointer;
}